<!DOCTYPE html>
<html>
  <head>
    <title>ブログ管理 - <%= h @title %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">トップ</a></li>
          <li><a href="/post">投稿一覧</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
